%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        %a= link_to t('app_title'), "#"
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      %li.has-dropdown
        %a= link_to t('menu.main_text'), "#"
        %ul.dropdown
          %li
            %a= link_to t('user.link_text'), users_path
          %li
            %a= link_to t('pto.link_text'), ptos_path
          %li
            %a= link_to t('report.link_text'), reports_path
%a= link_to t('common.january'), ptos_of_the_month_path, month: 1
%a= link_to t('common.february'), ptos_of_the_month_path, month: 2
%a= link_to t('common.march'), ptos_of_the_month_path, month: 3
%a= link_to t('common.april'), ptos_of_the_month_path, month: 4
%a= link_to t('common.may'), ptos_of_the_month_path, month: 5
%a= link_to t('common.june'), ptos_of_the_month_path, month: 6
%a= link_to t('common.july'), ptos_of_the_month_path, month: 7
%a= link_to t('common.august'), ptos_of_the_month_path, month: 8
%a= link_to t('common.september'), ptos_of_the_month_path, month: 9
%a= link_to t('common.october'), ptos_of_the_month_path, month: 10
%a= link_to t('common.november'), ptos_of_the_month_path, month: 11
%a= link_to t('common.december'), ptos_of_the_month_path, month: 12
%footer.row
