
%a= link_to t('common.january'), by_month_path
%a= link_to t('common.february'), by_month_path
%a= link_to t('common.march'), by_month_path
%a= link_to t('common.april'), by_month_path
%a= link_to t('common.may'), by_month_path
%a= link_to t('common.june'), by_month_path
%a= link_to t('common.july'), by_month_path
%a= link_to t('common.august'), by_month_path
%a= link_to t('common.september'), by_month_path
%a= link_to t('common.october'), by_month_path
%a= link_to t('common.november'), by_month_path
%a= link_to t('common.december'), by_month_path
%footer.row
